*

!.gitignore

!.git

!/application/controllers
!/application/libraries
!/application/views
!/application/models

!/application/config/routes.php

!/vendor/codeigniter
!/vendor/chriskacerguis
!/assets/website/maqueta/css/dipe-ui.css